target
.idea
.git
.DS_Store

*/target
.gitignore

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.1634674769.backup
